@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&display=swap');

:root {
  --primary: #216bdb;
  --secondary: #fc0082;
  --tertiary: #feb327;
  --primary-60: #97d2f7;
  --primary-10: #e6fbfe;
  --secondary-60: #fd66b4;
  --secondary-10: #ffe5f2;
  --tertiary-60: #f7d493;
  --tertiary-10: #fff7e9;
  --blurry: #6f6686;
  --blue-dark: #20179f;
  --light: #f9f8fe;
  --dark: #100036;
}
.color-theme {
  --primary: #216bdb;
  --secondary: #fc0082;
  --tertiary: #feb327;
  --primary-60: #97d2f7;
  --primary-10: #e6fbfe;
  --secondary-60: #fd66b4;
  --secondary-10: #ffe5f2;
  --tertiary-60: #f7d493;
  --tertiary-10: #fff7e9;
  --blurry: #6f6686;
  --blue-dark: #20179f;
  --light: #f9f8fe;
  --dark: #100036;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: 'border-box';
}

header {
  background-color: var(--dark);
  color: var(--light);
  font-family: inherit;
  margin: 0;
}

body {
  background-color: var(--dark);
  font-family: 'Exo 2', sans-serif;
  font-weight: 400;
  font-size: 1.8rem;
  margin: 0rem;
  padding: 0rem;
}

#control-content {
  margin: 5rem;
}

h1 {
  -famifontly: 'Exo 2';
  font-style: italic;
  font-weight: 700;
  font-size: 4.8rem;
}

h2 {
  font-family: 'Exo 2', sans-serif;
  font-weight: 700;
  font-size: 3.6rem;
  padding: 1rem;
  margin-left: 5rem;
  margin-right: 5rem;
}
h3 {
  font-family: 'Exo 2', sans-serif;
  font-weight: 700;
  font-size: 2.2rem;
  padding: 1rem;
  margin-left: 5rem;
  margin-right: 5rem;
}
p {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  padding-bottom: 0rem;
  line-height: 2.5rem;
}

.font-dark {
  color: var(--dark);
}

.font-light {
  color: var(--light);
}

.highlight-box-shadow {
  display: inline;
  font-style: italic;
  font-weight: 600;
  box-shadow:
    inset 0 -0.5rem 0 var(--tertiary),
    0 0.3rem 0 var(--tertiary);
  transform: skew(-5deg);
}

.btn {
  font-size: 2rem;
  font-weight: 600;
  padding: 0.75rem 2.5rem;
  border-radius: 0.75rem;
  border: none;
}

.btn-primary {
  background-color: var(--primary) !important;
  color: var(--light);
}

.btn-secondary {
  background-color: var(--secondary) !important;
  color: var(--light);
}

.navbar {
  padding: 4rem 8rem;
}

.navbar-item {
  font-family: inherit;
  justify-content: space-between;
  align-items: center;
  margin: 4rem 3.5rem;
}

.boxhead {
  color: var(--light);
  text-decoration: none;
}

.logo {
  font-family: 'Fira Code';
  font-size: 1.75rem;
  font-weight: bold;
}

#btn-navbar {
  margin: 0.5rem 3rem;
}

.introduction {
  margin-left: 20rem;
  margin-right: 60rem;
  padding: 3rem 5rem 3rem 5rem;
}

#h1-subtitle {
  margin-top: 3rem;
  margin-bottom: 3rem;
  width: 45rem;
}

/* Style all font awesome icons */
.social-media-control {
  display: flex;
  justify-content: left; /* Center horizontally */
  align-items: center; /* Center vertically */
  box-sizing: border-box;
}
.fa {
  display: inline-flex; /* Make the icons flex containers */
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  margin: 0 10px; /* Adjust spacing between icons */
  font-size: 2rem;
  width: 4rem;
  height: 4rem;
  text-align: center;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  border-radius: 15rem;
}

.fa:hover {
  opacity: 0.7;
}
.fa-linkedin {
  background: #0e76a8;
  color: white;
}
.fa-github {
  background: #333333;
  color: white;
}
.fa-google {
  background: #ea4335;
  color: white;
}

#btn-introduction {
  margin: 3rem 0 3rem 0;
}

.container {
  width: 100%;
  display: grid;
  align-items: center;
  justify-content: center;
}

.content-width {
  width: 70rem;
}

.div-bg-light {
  background-color: var(--light);
  height: 50rem;
  padding: 10rem 0 10rem 0;
  justify-content: center;
  width: 100%;
  text-align: center;
}

/* Styling of the -- Skills -- section */

.overlay-skills {
  display: flex;
  position: relative;
  top: 100%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 120rem;
  height: 40rem;
  background-color: var(--light);
  border-style: solid;
  border-width: 0.2rem 0.2rem 0.2rem 0.2rem;
  border-color: var(--dark);

  border-radius: 0.75rem;

  color: var(--dark);
  text-align: center;
  line-height: 10rem; /* Vertically center text */
  z-index: 10; /* Ensure it is on top of other elements */
}
.control-skill {
  position: relative;
  max-height: 100%;
  width: 33.333%;
  z-index: 20;

  transition:
    background 0.3s,
    border 0.3s,
    border-radius 0.3s,
    box-shadow 0.3s;
}
#skill-1 {
  background-color: var(--tertiary-10);
  border-style: solid;
  border-width: 0rem 0.1rem 0rem 0rem;
  border-color: var(--dark);

  border-radius: 0.75rem 0 0 0.75rem;
}

#skill-2 {
  background-color: var(--secondary-10);
  border-style: solid;
  border-width: 0rem 0.1rem 0rem 0.1rem;
  border-color: var(--dark);
}

#skill-3 {
  background-color: var(--primary-10);
  border-style: solid;
  border-width: 0rem 0rem 0rem 0.1rem;
  border-color: var(--dark);

  border-radius: 0 0.75rem 0.75rem 0;
}

.skill.title {
  display: flex;
  height: 25%;
  max-width: 100%;
  justify-content: left;
  align-items: center;
  margin-left: 0rem;
}
.skill.icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 7rem;
  height: 7rem;
  color: white;
  font-size: 24px;
  font-weight: bold;
  border-radius: 50%; /* Make it round */
  margin-right: 2rem; /* Space between icon and content */
  margin-left: 4rem;
  margin-top: 2rem;
}
.icon1 {
  background-color: var(--tertiary); /* Yellow background */
}
.icon2 {
  background-color: var(--secondary); /* Yellow background */
}
.icon3 {
  background-color: var(--primary); /* Yellow background */
}

h3.skill {
  margin-left: 0rem;
  margin-top: 1.5rem;
}
.skill.content {
  height: 75%;
  display: flex;
  justify-content: center;
  align-items: left;
}
.skill.horizontal-band {
  width: 20%;
  height: 85%;
  margin: 1rem 1rem 4rem 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.rectangle {
  width: 0.2rem;
  height: 22rem;
  background: var(--blurry);
  flex-shrink: 0; /* Prevent shrinking */
}

.skill.tag {
  display: inline-block;
  color: var(--blurry);
  height: 2.5rem;
  line-height: 2.5rem;
  margin: 0.5rem 0; /* Add margin to create space between elements */
  text-align: center; /* Center text within the span */
  overflow: hidden; /* Hide overflow text */
  width: 100%;
  flex-shrink: 0; /* Prevent shrinking */
  font-size: 1.5rem;
  font-style: italic;
}
p.skill {
  text-align: left;
  width: 80%;
  margin: 3rem 2rem 5rem 1rem;
}
.about-me {
  padding: 0 30rem 0 30rem;
  margin: 3rem 3rem;
  width: 60rem;
}

.content h3 {
  margin: 0;
  font-size: 2.4rem;
  font-weight: bold;
}

/* Styling of the -- My projects -- section */

.project-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

h2.project-title {
  margin: 0 0 5rem 0;
}

.project-cards {
  display: flex;
  flex-direction: row;
  background-color: var(--dark);
  height: 150rem; /* 30rem x5 */
  width: 110rem;
  padding: 0 0 0rem 0;
  margin: 0 0 20rem 0;
  border-radius: 0.75rem;
}

.project-column {
  display: flex;
  flex-direction: column;
}

.project-column.left {
  background-color: var(--dark);
  align-self: flex-start;
  width: 50%;
  height: 98%;
  border-radius: 0.75rem;
}
.project-column.right {
  background-color: var(--dark);
  align-self: flex-end;
  width: 50%;
  height: 98%;
  border-radius: 0.75rem;
}

.project-card {
  height: 30rem;
  width: 90%;
  border-radius: 0.75rem;
  padding: 5%;
  position: relative;
  display: flex;
}

#card-left-tertiary {
  background-color: var(--tertiary-10);
}
#card-left-secondary {
  background-color: var(--secondary-10);
}
#card-left-primary {
  background-color: var(--primary-10);
}

span.card-category {
  position: absolute;
  top: 0;
  left: 0;
  color: var(--dark);
  font-weight: bold;
  margin: 5rem 0rem 5rem 5rem;
  font-size: 2.5rem;
}

h3.card-title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); /* Center the child */
  font-size: 24px;
  color: var(--dark);
  margin: 0 0 0 0;
  font-size: 5rem;
  font-weight: 500;
}

span.category {
  position: absolute;
  top: 0;
  left: 0;
  color: var(--dark);
  font-weight: bold;
}
.card-category.highlight-box-shadow.primary {
  box-shadow:
    inset 0 -1.3rem 0 var(--primary),
    0 0.3rem 0 var(--primary);
}

.card-category.highlight-box-shadow.secondary {
  box-shadow:
    inset 0 -1.3rem 0 var(--secondary),
    0 0.3rem 0 var(--secondary);
}

.card-category.highlight-box-shadow.tertiary {
  box-shadow:
    inset 0 -1.3rem 0 var(--tertiary),
    0 0.3rem 0 var(--tertiary);
}

#card-right-tertiary {
  background-color: var(--tertiary);
}
#card-right-secondary {
  background-color: var(--secondary);
}
#card-right-primary {
  background-color: var(--primary-60);
}

.project-description {
  color: var(--dark);
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
}

.btn-project-discover {
  background-color: var(--dark);
  color: var(--light);
  padding: 0.75rem 4rem;
  height: 3rem;
  max-width: 20rem;
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Contact me*/

.contact.div-bg-yellow {
  background-color: var(--tertiary-10);
  height: 75rem;
  padding: 5% 0 0 0;
  width: 100%;
  display: flex;
}

.contact.div-form {
  display: flex;
  background-color: var(--tertiary-60);
  height: 90%;
  width: 50%;
  position: relative;
}
.contact.div-bear {
  display: flex;
  background-color: var(--primary-60);
  height: 90%;
  width: 50%;
}

h2.contact {
}

.contact-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}
.input-div {
  display: flex;
  gap: 2em; /* Space between the input boxes */
}

input[type='text'],
input[type='email'] {
  width: calc(5 * 1em); /* Width ratio */
  height: 2em; /* Adjust as necessary for height */
  padding: 0.5em;
  margin-bottom: 20px; /* Space below the input fields */
  border: 1px solid #ccc;
  border-radius: 4px;
}

input[type='message'] {
}
.footer {
  height: 20rem;
  width: 100%;
  background-color: var(--dark);
}
.up {
  margin: 15rem;
}
