@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&display=swap');

:root {
  --primary: #216bdb;
  --secondary: #fc0082;
  --tertiary: #feb327;
  --primary-60: #97d2f7;
  --primary-10: #e6fbfe;
  --secondary-60: #fd66b4;
  --secondary-10: #ffe5f2;
  --tertiary-60: #f7d493;
  --tertiary-10: #fff7e9;
  --blurry: #6f6686;
  --blue-dark: #20179f;
  --light: #f9f8fe;
  --dark: #100036;
}
.color-theme {
  --primary: #216bdb;
  --secondary: #fc0082;
  --tertiary: #feb327;
  --primary-60: #97d2f7;
  --primary-10: #e6fbfe;
  --secondary-60: #fd66b4;
  --secondary-10: #ffe5f2;
  --tertiary-60: #f7d493;
  --tertiary-10: #fff7e9;
  --blurry: #6f6686;
  --blue-dark: #20179f;
  --light: #f9f8fe;
  --dark: #100036;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: 'border-box';
}

header {
  background-color: var(--dark);
  color: var(--light);
  font-family: inherit;
  width: 100%;
}

body {
  background-color: var(--dark);
  font-family: 'Exo 2', sans-serif;
  font-weight: 400;
  font-size: 1.8rem;
  margin: 0rem;
  padding: 0rem;
}

#control-content {
  margin: 5rem;
}

h1 {
  font-family: 'Exo 2';
  font-style: italic;
  font-weight: 700;
  font-size: 4.8rem;
}

h2 {
  font-family: 'Exo 2', sans-serif;
  font-weight: 700;
  font-size: 3.6rem;
  padding: 1rem;
  margin-left: 5rem;
  margin-right: 5rem;
}
h3 {
  font-family: 'Exo 2', sans-serif;
  font-weight: 700;
  font-size: 2.2rem;
  padding: 1rem;
  margin-left: 5rem;
  margin-right: 5rem;
}
p {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  padding-bottom: 0rem;
  line-height: 2.5rem;
}

.font-dark {
  color: var(--dark);
}

.font-light {
  color: var(--light);
}

.highlight-box-shadow {
  display: inline;
  font-style: italic;
  font-weight: 600;
  box-shadow:
    inset 0 -0.5rem 0 var(--tertiary),
    0 0.3rem 0 var(--tertiary);
  transform: skew(-5deg);
}

.btn {
  font-size: 2rem;
  font-weight: 600;
  padding: 0.75rem 2.5rem;
  border-radius: 0.75rem;
  border: none;
  min-width: 10rem;
}

.btn-primary {
  background-color: var(--primary) !important;
  color: var(--light);
}

.btn-secondary {
  background-color: var(--secondary) !important;
  color: var(--light);
}

.navbar {
  display: flex;
  align-items: center;
  height: 10rem;
  width: 100%;
  margin: 0 5rem;
}

/* HEADER - Left : Logo Brand with spans*/
.navbar-ctrl-brand {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30rem;
  height: 5rem;
}

.boxhead {
  color: var(--light);
  text-decoration: none;
}

.logo {
  font-family: 'Fira Code';
  font-size: 1.75rem;
  font-weight: bold;
}

/* HEADER - Right : Navigation items*/
.navbar-ctrl-items {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  margin-left: auto;
  max-width: calc(
    100% - 30rem
  ); /* Adjust based on the width of .navbar-ctrl-brand */
}

.navbar-item {
  font-family: inherit;
  min-width: 12rem;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 2rem 0rem;
}

#btn-navbar {
  margin-left: 1.5rem;
}
